*.Rcheck
*.html
*.rprof
*.sas.txt
*~
.DS_Store
.RData
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
.project
.settings/**
/.project
Meta
coverage.*
devel/*
doc
docs
inst/outputs/*
logs
packrat/lib*/
temp
temp_w
templates/
tmp.*
vignettes/*.R
vignettes/*.html
vignettes/*.md
