---
# All available hooks: https://pre-commit.com/hooks.html
# R specific hooks: https://github.com/lorenzwalthert/precommit
default_stages: [commit]
default_language_version:
  python: python3
repos:
  - repo: https://github.com/lorenzwalthert/precommit
    rev: v0.3.2.9027
    hooks:
      - id: style-files
        name: Style code with `styler`
        args: [--style_pkg=styler, --style_fun=tidyverse_style,
              --cache-root=styler]
      - id: roxygenize
        name: Regenerate package documentation
        additional_dependencies:
          - checkmate
          - lifecycle
          - logger
          - magrittr
          - rlang
          - shiny
          - shinyjs
          - stats
          - insightsengineering/teal.code
          - insightsengineering/teal.data
          - insightsengineering/teal.logger
          - insightsengineering/teal.reporter
          - insightsengineering/teal.slice
          - insightsengineering/teal.transform
          - insightsengineering/teal.widgets
          - utils
      - id: spell-check
        name: Check spelling with `spelling`
        exclude: >
          (?x)^(
          .*\.[rR]|
          .*\.css|
          .*\.jpg|
          .*\.js|
          .*\.png|
          .*\.py|
          .*\.RData|
          .*\.Rds|
          .*\.rds|
          .*\.Rproj|
          .*\.sh|
          .*\.svg|
          .*\.xml|
          (.*/|)\_pkgdown.y[a]ml|
          (.*/|)\.gitignore|
          (.*/|)\.gitlab-ci\.yml|
          (.*/|)\.lintr|
          (.*/|)\.pre-commit-.*|
          (.*/|)\.Rbuildignore|
          (.*/|)\.Renviron|
          (.*/|)\.Rprofile|
          (.*/|)CODEOWNERS|
          (.*/|)DESCRIPTION|
          (.*/|)LICENSE|
          (.*/|)NAMESPACE|
          (.*/|)staged_dependencies\.yaml|
          (.*/|)WORDLIST|
          \.github/.*\.yaml|
          data/.*
          )$
      - id: no-browser-statement
        name: Check for browser() statement
