.teal-modules-wrapper .module-button {
  margin: 2px;
  border: 1px solid #dee2e6;
  border-radius: 12px;
  background: white;
  color: #495057;
  display: inline-flex;
}
.teal-modules-wrapper .module-button:hover {
  background: #e7f3ff;
  border-color: #4dabf7;
  color: #1971c2;
}
.teal-modules-wrapper .module-button.active {
  color: var(--bs-btn-active-color);
  background: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.teal-modules-wrapper .module-button:active {
  background: #cfe2ff !important;
  border-color: #4c8bf5 !important;
  color: #1a73e8 !important;
}
.teal-modules-wrapper .dropdown-menu {
  z-index: 1046;
  width: 700px;
  max-width: calc(100vw - 2rem);
  max-height: 80vh;
  padding: 1.5rem;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #dee2e6;
  border-radius: 8px;
}

.teal-modules-wrapper .dropdown-toggle {
  padding: 10px;
}
