@charset "UTF-8";
body { background: #F2F2F2; font-family: 'Montserrat', sans-serif; }
h1 { color: #333; font-size: 1.8em; }

.main-container { padding: 10px 15px;}

.accordion-container { display: inline-block; height: auto; padding: 0; margin-top: 10px; margin-bottom: 20px; -moz-border-radius: 2px !important; -ms-border-radius: 2px !important; border-radius: 2px !important; overflow: hidden; }

.accordion-container .panel { background-color: transparent; margin-top: 0; margin-bottom: 0; border: none; border-bottom: 1px solid #efefef; border-radius: 0; /*background: #fff !important; */width: 100%; text-align: left; transition: 0.4s; border-bottom: 1px solid #e3e3e3;}
.accordion-container .panel:last-child { border: none; }
.accordion-container .panel .content { padding: 0px 20px; /*background-color: #fff; */max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; }
.accordion-container .panel .heading { /*font-size: 0.85em; */font-weight: 500; color: #383838; padding: 15px 20px; /*background: url("../img/keyboard_arrow_up.svg") no-repeat right; background-position: 98% 12px !important; background-size: 28px !important; */}
.accordion-container .panel .heading .dropdown-icon { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
.accordion-container .panel a { text-decoration: none; }
.accordion-container .panel .content p { /*font-size: 0.8em; */line-height: 1.5em; font-weight: 300; color: #6f6f6f; padding: 10px 0; margin: 0; }
.accordion-container .panel .content p:first-child { padding-top: 0;}
.accordion-container .panel .content ul { margin-left: 0; padding-bottom: 20px; padding-left: 20px; font-weight: 300; margin-top: 5px; }
.accordion-container .panel .content ul li { list-style-type: none; font-size: 0.8em; line-height: 1.5em; color: #6f6f6f; }
.accordion-container .panel .content ul li:before { content: "—"; padding-right: 4px; display: inline; }
.accordion-container .panel p:last-child { padding-bottom: 20px; }
.accordion-container .panel table { width: 100%; }
.accordion-container .panel table tr td { padding: 5px 10px; border: 1px solid #ececec; }
/*.accordion-container .panel.active { background: #fff !important;}*/
/*.accordion-container .panel.active .heading { background: url("../img/keyboard_arrow_down.svg") no-repeat right; }*/
.accordion-container .panel.active .heading .dropdown-icon { -webkit-transform: rotate(0deg); transform: rotate(0deg); }


.info { font-size: 0.70em; font-weight: 300; color: #b5b5b5; }
.info a { color: #1ac3b4 !important; text-decoration: none; }

