.badge-dropdown-wrapper:has(.shiny-validation-message),
.badge-dropdown-wrapper:has(.shiny-output-error),
.badge-dropdown-wrapper:has(* .shiny-validation-message),
.badge-dropdown-wrapper:has(* .shiny-output-error) {
  border-color: red !important;
}

.badge-dropdown {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  line-height: 1.2;
  min-width: auto;
  width: 130px;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  padding-right: .5rem;
}

.badge-dropdown-label {
  display: block;
  max-width: calc(100% - .5rem);
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  text-align: left;
}

.badge-dropdown-label::-webkit-scrollbar {
  display: none;
}

.badge-dropdown-icon {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background: inherit;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.badge-dropdown:hover .badge-dropdown-icon {
  opacity: 1;
}

.badge-dropdown:has(~ div .shiny-validation-message) {
  border-color: red !important;
}

.badge-dropdown .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  line-height: 1.2;
  min-width: auto;
}

.badge-dropdown .btn::after {
  margin-left: 0.25rem;
  vertical-align: 0.1em;
}