/* teal custom css */

/* per tag */

#teal_secondary_col .well {
  margin: 0 0 15px 0;
}

#shiny-modal:has(> .modal-dialog > .modal-content > #landingpopup) {
  backdrop-filter: blur(10px);
}

body:not(.modal-open) {
  padding-right: 0 !important;
  overflow: auto !important;
}

/* teal_data_module modal styling */
body > div:has(~ #shiny-modal-wrapper .fade .blur_background) {
  transition: filter 0.3s;
}

body > div:has(~ #shiny-modal-wrapper .blur_background) {
  filter: blur(5px);
}

#shiny-modal.fade.in:has(.hide_background) {
  transition: background-color 0.3s;
}

#shiny-modal:has(.hide_background) {
  background-color: white;
}

.btn {
  --bs-btn-padding-x: 0.7em;
  --bs-btn-padding-y: 0.4em;
}
