.no-left-right-padding {
   padding-left: 0 !important;
   padding-right: 0 !important;
}

#teal_filter_panel_whole > div.well div.form-group label { width: 100% }

#teal_filter_active_vars p {margin-bottom: 0}

a.remove {
  font-weight: normal;
  float: right;
  border: 0;
  background-color: whitesmoke;
  color: black;
  font-weight: 100;
  font-size: 0.9em;
  border-radius: 0.25em;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid #ffffff00;
  padding: 2px 4px; /* todo1: duplicate properties? which has priority */
  margin-top: 0;
}

a.remove:hover{
  color: #337ab7;
  border: 1px solid #337ab7;
}

/* display waiting box at bottom right corner when Shiny is computing */
.shinybusymessage {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 140px;
    margin: 15px;
    padding: 5px 0 5px 10px;
    text-align: left;
    font-weight: bold;
    font-size: 100%;
    color: #ffffff;
    background-color: #347ab7;
    z-index: 105;
}

.filterPlotOverlayBoxes {
  position: absolute;
  top: -2px; right: 16px; bottom: -2px; left: 16px;
  animation:
    0.75s ease-out 0s 1 shinyDataFilterEnlargeX,
    0.5s ease-in 0s 1 shinyDataFilterFadeIn;
  transform-origin: left;
}

.filterPlotOverlayRange {
  margin: 10px 11px -25px 11px;
  height: 25px;
  animation:
    0.75s ease-out 0s 1 shinyDataFilterEnlargeY,
    0.5s ease-in  0s 1 shinyDataFilterFadeIn;
  transform-origin: bottom;
}

/* to set the alignment of pickerInput dropdowns */
.dropdown-menu.open {
  width: 100%;
}

/*
for handles to move filter variables around in the right hand panel
currently not used, instead one can click anywhere in the element to move it
*/
.sortableJS-handle {
  opacity: 0.1;
  cursor: move;
  cursor: -webkit-grabbing;
}


.filter_panel_dataname {
  font-weight: bold;
}

.filter_panel_varname {
  font-weight: bold;
  width: 100%;
}

.filter_panel_varlabel {
  font-size: small;
  font-weight: normal;
  margin-left: 3px;
}

