/* teal sidebar css */


.filter_hamburger, .wunder_bar_button {
  font-size: 16px;
  padding: 8px !important;
  float: right !important;
  background-color: transparent !important;
}

/* disable any anchor with the disabled class */
a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: grey;
}

.filter_manager_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.manager_table_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.manager_table_row *:first-child {
  flex: 1 1 80%;
}
.manager_table_row * + * {
  flex: 0 0 0px;
  padding: 0em 1.5em;
}
.manager_placeholder {
  margin-top: 1em;
}
.manager_table_row [onClick] {
  cursor: pointer;
}
