/* custom_sidebarpanel */

.menubtn {
  font-size: 16px;
  padding: 8px !important;
  float: right !important;
  background-color: transparent !important;
}

.nav {
  display: flex;
}

/* disable any anchor with the disabled class*/
a.disabled {
  pointer-events: none;
  cursor: default;
  color: grey;
}
