/* teal tooltip css */
/*
Thanks to this css all teal applications can use div.teal-tooltip with
icon.tooltiptext inside to make a hoover info. Search for for "teal-tooltip" in the
organization to find example usage
*/

/* Tooltip container */
.teal-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.teal-tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  opacity: 0;
  z-index: 10;
  position: absolute;
  width: 400px;
  left: 100%;
  top: -5px;
  transition: all 0s ease 0s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.teal-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease 0.4s;
}
